.b_tn {
	padding: 12px 15px;
	border: none;
	outline: none;
	transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
// button sizes
.b_tn-lg {
	padding: 15px;
}
.b_tn-md {
	padding: 12px;
}
.b_tn-sm {
	padding: 8px 10px;
}

.btn_outline-secondary {
	background-color: transparent;
	border: 1px solid $secondary-color;
	color: white;

	&:hover {
		background: $secondary-color;
		color: $light-dark;
	}
}
// button colors
.b_tn-primary {
	background-color: $primary-color;
}
.b_tn-secondary {
	background-color: $secondary-color;
}
// Hover states
.b_tn-hover:hover {
	transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: scale(0.95);
}
