header {
	.Navbar {
		transition: all 0.4s ease-in-out;

		.navbar-brand {
			.logo {
				width: 60px;
				height: 60px;
			}
		}

		.menu {
			width: 40px;
			cursor: pointer;
			.menu-line {
				display: block;
				width: 100%;
				height: 2px;
				background-color: $light-dark;
				margin-bottom: 5px;
			}
			.line-3 {
				margin-bottom: 0;
			}
		}
	}
}
.scroll {
	transition: all 0.4s ease-in-out;
	transform: translateY(-2px);
	background: white;
	box-shadow: 1px 1px 10px #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}
