@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* line 2, ../sass/base/_reset.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 8, ../sass/base/_reset.scss */
body {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

/* line 14, ../sass/base/_reset.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 19, ../sass/base/_reset.scss */
li {
  list-style: none;
}

/* line 22, ../sass/base/_reset.scss */
a,
li,
p {
  color: #2d313d;
}

/* line 27, ../sass/base/_reset.scss */
h1,
h3,
h2,
h4,
h5 {
  font-weight: 700;
}

/* line 35, ../sass/base/_reset.scss */
img {
  object-fit: contain;
}

/* line 2, ../sass/base/_utilities.scss */
.gap-sm {
  gap: 14px;
}

/* line 5, ../sass/base/_utilities.scss */
.gap-md {
  gap: 28px;
}

/* line 9, ../sass/base/_utilities.scss */
.mtp-lg {
  margin-top: 12rem;
}

/* line 12, ../sass/base/_utilities.scss */
.mtp-xl {
  margin-top: 17rem;
}

/* line 15, ../sass/base/_utilities.scss */
.mtp-md {
  margin-top: 6rem;
}

/* line 19, ../sass/base/_utilities.scss */
.py-md {
  padding: 3rem 0;
}

/* line 22, ../sass/base/_utilities.scss */
.py-lg {
  padding: 4rem 0;
}

/* line 26, ../sass/base/_utilities.scss */
.text_primary {
  color: #1a3253;
}

/* line 29, ../sass/base/_utilities.scss */
.text_secondary {
  color: #fec40a;
}

/* line 32, ../sass/base/_utilities.scss */
.text_light {
  color: #f7f9fe;
}

/* line 36, ../sass/base/_utilities.scss */
.bg_light {
  background: #f7f9fe;
}

/* line 39, ../sass/base/_utilities.scss */
.bg_dark {
  background: #1a3253;
}

/* line 42, ../sass/base/_utilities.scss */
.bg_light-dark {
  background: #2d313d;
}

/* line 45, ../sass/base/_utilities.scss */
.bg_primary {
  background-color: #1a3253;
}

/* line 48, ../sass/base/_utilities.scss */
.bg_secondary {
  background-color: #fec40a;
}

/* line 52, ../sass/base/_utilities.scss */
.box-shadow {
  box-shadow: 1px 1px 20px #f7f9fe;
}

/* line 55, ../sass/base/_utilities.scss */
.box-shadow-light {
  box-shadow: 1px 1px 20px #f4f4f4;
}

/* line 59, ../sass/base/_utilities.scss */
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
/* line 63, ../sass/base/_utilities.scss */
.slick-dots button {
  border: none;
  outline: none;
  background: #fec40a;
  color: #1a3253;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  text-indent: -9999px;
}
/* line 74, ../sass/base/_utilities.scss */
.slick-dots .slick-active {
  width: 40px;
  height: 8px;
  background: #fec40a;
  border-radius: 8px;
  margin-right: 5px;
}

/* line 82, ../sass/base/_utilities.scss */
.slick-active {
  opacity: 1 !important;
}

/* line 85, ../sass/base/_utilities.scss */
.inner-hero {
  height: 33rem;
}

/* line 88, ../sass/base/_utilities.scss */
.current-link {
  color: #fec40a !important;
}

/* line 1, ../sass/layout/_grid.scss */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 991px) {
  /* line 1, ../sass/layout/_grid.scss */
  .grid-3 {
    grid-template-columns: 1fr;
  }
}

/* line 1, ../sass/components/_buttons.scss */
.b_tn {
  padding: 12px 15px;
  border: none;
  outline: none;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* line 8, ../sass/components/_buttons.scss */
.b_tn-lg {
  padding: 15px;
}

/* line 11, ../sass/components/_buttons.scss */
.b_tn-md {
  padding: 12px;
}

/* line 14, ../sass/components/_buttons.scss */
.b_tn-sm {
  padding: 8px 10px;
}

/* line 18, ../sass/components/_buttons.scss */
.btn_outline-secondary {
  background-color: transparent;
  border: 1px solid #fec40a;
  color: white;
}
/* line 23, ../sass/components/_buttons.scss */
.btn_outline-secondary:hover {
  background: #fec40a;
  color: #2d313d;
}

/* line 29, ../sass/components/_buttons.scss */
.b_tn-primary {
  background-color: #1a3253;
}

/* line 32, ../sass/components/_buttons.scss */
.b_tn-secondary {
  background-color: #fec40a;
}

/* line 36, ../sass/components/_buttons.scss */
.b_tn-hover:hover {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(0.95);
}

/* line 1, ../sass/components/_navbar.scss */
header {
  z-index: 20 !important;
}
/* line 3, ../sass/components/_navbar.scss */
header .Navbar {
  transition: all 0.4s ease-in-out;
}
/* line 6, ../sass/components/_navbar.scss */
header .Navbar .navbar-brand {
  z-index: 20;
}
/* line 8, ../sass/components/_navbar.scss */
header .Navbar .navbar-brand .logo {
  width: 60px;
  height: 60px;
}
/* line 14, ../sass/components/_navbar.scss */
header .Navbar .nav-links a,
header .Navbar .nav-links li {
  color: white;
}
/* line 17, ../sass/components/_navbar.scss */
header .Navbar .nav-links a:hover,
header .Navbar .nav-links li:hover {
  color: #fec40a;
}
@media screen and (max-width: 1191px) {
  /* line 14, ../sass/components/_navbar.scss */
  header .Navbar .nav-links a,
  header .Navbar .nav-links li {
    color: #2d313d;
  }
}
@media screen and (max-width: 1191px) {
  /* line 13, ../sass/components/_navbar.scss */
  header .Navbar .nav-links {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.97;
    width: 100%;
    height: 100vh;
    padding: 6.3rem 0 1.4rem 2rem;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-190px);
    transition: all 0.4s ease-in;
  }
}
/* line 41, ../sass/components/_navbar.scss */
header .Navbar .show-navs {
  transition: all 0.4s ease-in;
  opacity: 1;
  pointer-events: visible;
  transform: translateX(0);
}
/* line 48, ../sass/components/_navbar.scss */
header .Navbar .menu {
  transition: all 0.4s ease-in;
  width: 40px;
  cursor: pointer;
  z-index: 20;
}
/* line 54, ../sass/components/_navbar.scss */
header .Navbar .menu .menu-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fec40a;
  margin-bottom: 5px;
}
/* line 61, ../sass/components/_navbar.scss */
header .Navbar .menu .line-3 {
  margin-bottom: 0;
}
/* line 65, ../sass/components/_navbar.scss */
header .Navbar .open {
  transition: all 0.4s ease-in;
}
/* line 67, ../sass/components/_navbar.scss */
header .Navbar .open .line-1 {
  transform: rotate(45deg);
  transform-origin: left;
}
/* line 72, ../sass/components/_navbar.scss */
header .Navbar .open .line-3 {
  transform: rotate(-50deg);
  transform-origin: center;
}
/* line 77, ../sass/components/_navbar.scss */
header .Navbar .open .line-2 {
  display: none;
}

/* line 83, ../sass/components/_navbar.scss */
.scroll {
  transition: all 0.4s ease-in-out;
  transform: translateY(-2px);
  background: #1a3253;
}
@media screen and (max-width: 991px) {
  /* line 83, ../sass/components/_navbar.scss */
  .scroll {
    transform: translateY(0) !important;
  }
}
/* line 92, ../sass/components/_navbar.scss */
.scroll a,
.scroll li {
  color: white !important;
}
/* line 96, ../sass/components/_navbar.scss */
.scroll .current-link {
  color: #fec40a !important;
}

/* line 1, ../sass/components/_form.scss */
input {
  border: none;
  outline: none;
  padding: 8px 15px;
  width: 100%;
  margin-bottom: 12px;
}

/* line 8, ../sass/components/_form.scss */
textarea {
  width: 100%;
  border: none;
  outline: none;
}

@media screen and (max-width: 991px) {
  /* line 2, ../sass/components/_footer.scss */
  #footer .row {
    justify-content: center !important;
    gap: 1.7rem !important;
  }
}
/* line 8, ../sass/components/_footer.scss */
#footer img {
  width: 150px;
  height: 150px;
}
/* line 12, ../sass/components/_footer.scss */
#footer i,
#footer a,
#footer li,
#footer p,
#footer h4 {
  color: white;
}
/* line 19, ../sass/components/_footer.scss */
#footer ul {
  padding: 0;
}
/* line 21, ../sass/components/_footer.scss */
#footer ul li {
  line-height: 2;
}
/* line 23, ../sass/components/_footer.scss */
#footer ul li a:hover {
  color: #fec40a !important;
}
/* line 29, ../sass/components/_footer.scss */
#footer .social div {
  background: #1a3253;
  padding: 12px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
/* line 36, ../sass/components/_footer.scss */
#footer .social a {
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  background-color: #fec40a;
}
/* line 43, ../sass/components/_footer.scss */
#footer form {
  background: white;
  padding: 15px;
  border-radius: 8px;
}
/* line 47, ../sass/components/_footer.scss */
#footer form input {
  background: #f7f9fe;
  border-radius: 50rem;
  display: block;
  padding: 12px 15px;
}
/* line 53, ../sass/components/_footer.scss */
#footer form textarea {
  background: #f7f9fe;
  border-radius: 8px;
  padding: 12px;
  height: 100px;
  margin-bottom: 12px;
}
/* line 60, ../sass/components/_footer.scss */
#footer form input[type="submit"] {
  background: #fec40a;
  color: white;
}

/* line 2, ../sass/pages/_index.scss */
header {
  background: url("../images/success.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 2;
}
/* line 9, ../sass/pages/_index.scss */
header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a3253;
  opacity: 0.75;
  z-index: -1;
}
/* line 22, ../sass/pages/_index.scss */
header .hero {
  height: 45rem;
}
/* line 25, ../sass/pages/_index.scss */
header .hero .hero-text h2 {
  font-size: 3.1rem;
  width: 420px;
  color: white;
}
@media screen and (max-width: 991px) {
  /* line 25, ../sass/pages/_index.scss */
  header .hero .hero-text h2 {
    font-size: 2.3rem;
  }
}
/* line 33, ../sass/pages/_index.scss */
header .hero .hero-text p {
  color: white;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  /* line 46, ../sass/pages/_index.scss */
  #our-past .row {
    flex-direction: column-reverse !important;
    gap: 3rem;
  }
  /* line 50, ../sass/pages/_index.scss */
  #our-past .row div:nth-child(1) {
    align-self: center;
  }
  /* line 54, ../sass/pages/_index.scss */
  #our-past .b_tn {
    display: block !important;
    margin: auto;
    text-align: center;
  }
}
/* line 60, ../sass/pages/_index.scss */
#our-past img {
  width: 500px;
  height: 450px;
}
@media screen and (max-width: 991px) {
  /* line 60, ../sass/pages/_index.scss */
  #our-past img {
    width: 100%;
  }
}

/* line 70, ../sass/pages/_index.scss */
#who-we-work-with {
  background: url("../images/work.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
  z-index: 5;
}
/* line 76, ../sass/pages/_index.scss */
#who-we-work-with::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #2d313d;
  opacity: 0.7;
}
@media screen and (max-width: 991px) {
  /* line 88, ../sass/pages/_index.scss */
  #who-we-work-with .work-group .row {
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
/* line 95, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group {
  background: white;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-right: 12px;
  width: 400px;
}
@media screen and (max-width: 1399px) {
  /* line 95, ../sass/pages/_index.scss */
  #who-we-work-with .work-group .group {
    width: 300px;
  }
}
@media screen and (max-width: 991px) {
  /* line 95, ../sass/pages/_index.scss */
  #who-we-work-with .work-group .group {
    width: 100%;
  }
}
/* line 109, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group h3 {
  font-size: 1.3rem;
}
/* line 112, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group .icon {
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
/* line 120, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-1 {
  background-color: #f7f9fe;
}
/* line 123, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-1 .icon {
  background-color: #fec40a;
}
/* line 128, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-2 {
  background: #fec40a;
}
/* line 131, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-2 h3,
#who-we-work-with .work-group .group-2 p {
  color: white;
}
/* line 135, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-2 .icon {
  background: #2d313d;
}
/* line 139, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-3 {
  background-color: #f7f9fe;
}
/* line 143, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-3 .icon {
  background: #1a3253;
}

@media screen and (max-width: 1399px) {
  /* line 152, ../sass/pages/_index.scss */
  #client.mtp-xl {
    margin-top: 22rem;
  }
}
@media screen and (max-width: 991px) {
  /* line 157, ../sass/pages/_index.scss */
  #client.mtp-xl {
    margin-top: 45rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 162, ../sass/pages/_index.scss */
  #client.mtp-xl {
    margin-top: 50rem;
  }
}
@media screen and (max-width: 991px) {
  /* line 167, ../sass/pages/_index.scss */
  #client .row {
    gap: 1.5rem !important;
  }
}
/* line 171, ../sass/pages/_index.scss */
#client .row img {
  width: 200px;
  height: 90px;
}
@media screen and (max-width: 991px) {
  /* line 181, ../sass/pages/_index.scss */
  #client .row > div {
    align-self: center;
    justify-self: center;
  }
  /* line 186, ../sass/pages/_index.scss */
  #client .row > div img {
    display: block;
    margin: 0 auto;
  }
}

/* line 199, ../sass/pages/_index.scss */
#our-works button.active {
  background: #1a3253;
  color: white;
}
/* line 203, ../sass/pages/_index.scss */
#our-works button {
  color: #1a3253;
}
/* line 207, ../sass/pages/_index.scss */
#our-works .tab-content img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  /* line 207, ../sass/pages/_index.scss */
  #our-works .tab-content img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}
/* line 222, ../sass/pages/_index.scss */
#our-works .video-explainer a {
  position: relative;
}
/* line 225, ../sass/pages/_index.scss */
#our-works .video-explainer a i {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #1a3253;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 0.6rem;
}
@media screen and (max-width: 1199px) {
  /* line 225, ../sass/pages/_index.scss */
  #our-works .video-explainer a i {
    transform: translate(210px, 120px);
  }
}

/* line 241, ../sass/pages/_index.scss */
#testimonials {
  background: url("../images/test.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}
/* line 246, ../sass/pages/_index.scss */
#testimonials::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a3253;
  opacity: 0.65;
  z-index: -1;
}
/* line 259, ../sass/pages/_index.scss */
#testimonials h2 {
  font-size: 3rem;
}
/* line 262, ../sass/pages/_index.scss */
#testimonials p.text-center {
  font-size: 1.3rem;
}
/* line 265, ../sass/pages/_index.scss */
#testimonials .testimony {
  background: white;
  border-radius: 8px;
  position: relative;
  width: 370px !important;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  /* line 265, ../sass/pages/_index.scss */
  #testimonials .testimony {
    opacity: 0.5;
  }
}
@media screen and (max-width: 991px) {
  /* line 265, ../sass/pages/_index.scss */
  #testimonials .testimony {
    margin-right: 10px;
  }
}
/* line 278, ../sass/pages/_index.scss */
#testimonials .testimony .photo img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
/* line 286, ../sass/pages/_index.scss */
#testimonials .testimony .photo p {
  text-align: center;
}

/* line 1, ../sass/pages/_work-with-us.scss */
.work-with-us {
  margin-top: 4rem;
}
/* line 3, ../sass/pages/_work-with-us.scss */
.work-with-us h1.text-white {
  font-size: 3.1rem;
}
/* line 6, ../sass/pages/_work-with-us.scss */
.work-with-us p.text-white {
  margin-bottom: 1.7rem;
  font-size: 1.2rem;
}
/* line 11, ../sass/pages/_work-with-us.scss */
.work-with-us .btn_outline-secondary {
  font-size: 1.1rem;
}
@media screen and (max-width: 600px) {
  /* line 14, ../sass/pages/_work-with-us.scss */
  .work-with-us .cta.d-flex {
    flex-direction: column !important;
    gap: 1rem;
  }
}

/* line 1, ../sass/pages/_online-tools.scss */
#online-tools {
  background-image: url("../images/online-tool.jpg");
}
/* line 5, ../sass/pages/_online-tools.scss */
#online-tools .row h2 {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  /* line 5, ../sass/pages/_online-tools.scss */
  #online-tools .row h2 {
    font-size: 2rem;
  }
}
/* line 11, ../sass/pages/_online-tools.scss */
#online-tools .row p {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  /* line 11, ../sass/pages/_online-tools.scss */
  #online-tools .row p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 991px) {
  /* line 21, ../sass/pages/_online-tools.scss */
  #what-we-can-offer .container > .row {
    align-items: center;
    justify-content: center;
  }
}
/* line 28, ../sass/pages/_online-tools.scss */
#what-we-can-offer .offer {
  margin-bottom: 1.4rem;
}
@media screen and (max-width: 991px) {
  /* line 28, ../sass/pages/_online-tools.scss */
  #what-we-can-offer .offer {
    margin-bottom: 1.8rem;
  }
}
/* line 33, ../sass/pages/_online-tools.scss */
#what-we-can-offer .offer .icon {
  border: 2px solid #677275;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  transition: all 0.4s linear;
}
@media screen and (max-width: 1199px) {
  /* line 33, ../sass/pages/_online-tools.scss */
  #what-we-can-offer .offer .icon {
    width: 20%;
    margin: 0 auto 10px auto;
  }
}
@media screen and (max-width: 991px) {
  /* line 33, ../sass/pages/_online-tools.scss */
  #what-we-can-offer .offer .icon {
    width: 15%;
  }
}
/* line 46, ../sass/pages/_online-tools.scss */
#what-we-can-offer .offer .icon:hover {
  border-color: #fec40a;
  transform: scale(0.89);
}
/* line 49, ../sass/pages/_online-tools.scss */
#what-we-can-offer .offer .icon:hover i {
  color: #fec40a;
}
/* line 53, ../sass/pages/_online-tools.scss */
#what-we-can-offer .offer .icon i {
  color: #677275;
  font-size: 2.2rem;
  text-align: center;
}
/* line 60, ../sass/pages/_online-tools.scss */
#what-we-can-offer .offer .description h5 {
  color: white;
  font-weight: 400;
}
@media screen and (max-width: 1199px) {
  /* line 60, ../sass/pages/_online-tools.scss */
  #what-we-can-offer .offer .description h5 {
    text-align: center;
    font-size: 1.1rem;
  }
}
/* line 72, ../sass/pages/_online-tools.scss */
#what-we-can-offer .idea-img img {
  height: 80% !important;
  filter: grayscale(100%);
}
@media screen and (max-width: 1199px) {
  /* line 72, ../sass/pages/_online-tools.scss */
  #what-we-can-offer .idea-img img {
    height: 100% !important;
  }
}
@media screen and (max-width: 991px) {
  /* line 72, ../sass/pages/_online-tools.scss */
  #what-we-can-offer .idea-img img {
    display: none !important;
  }
}
/* line 81, ../sass/pages/_online-tools.scss */
#what-we-can-offer .idea-img img:hover {
  filter: grayscale(0);
}

/* line 88, ../sass/pages/_online-tools.scss */
#elephant-in-the-room .row > * {
  padding-right: 0;
}
/* line 92, ../sass/pages/_online-tools.scss */
#elephant-in-the-room .description h6 {
  font-size: 1.5rem;
}
@media screen and (max-width: 991px) {
  /* line 92, ../sass/pages/_online-tools.scss */
  #elephant-in-the-room .description h6 {
    font-size: 1.2rem;
  }
}
/* line 98, ../sass/pages/_online-tools.scss */
#elephant-in-the-room .description h4 {
  font-size: 2.1rem;
}
@media screen and (max-width: 991px) {
  /* line 98, ../sass/pages/_online-tools.scss */
  #elephant-in-the-room .description h4 {
    font-size: 1.7rem;
  }
}
/* line 104, ../sass/pages/_online-tools.scss */
#elephant-in-the-room .description p {
  font-size: 1.2rem;
}
@media screen and (max-width: 991px) {
  /* line 104, ../sass/pages/_online-tools.scss */
  #elephant-in-the-room .description p {
    font-size: 1rem;
  }
}

/* line 1, ../sass/pages/_web-hosting.scss */
.web-hosting {
  background: url("../images/hostingg.jpg") !important;
}

/* line 5, ../sass/pages/_web-hosting.scss */
#packages .grid-3 {
  background: #ffff;
  position: relative;
}
/* line 10, ../sass/pages/_web-hosting.scss */
#packages .grid-3 .type h4 {
  font-size: 1.9rem;
}
/* line 14, ../sass/pages/_web-hosting.scss */
#packages .grid-3 > * {
  border: 2px solid #f4f4f4;
  border-radius: 8px;
  box-shadow: 1px 1px 20px #f4f4f4;
}
/* line 19, ../sass/pages/_web-hosting.scss */
#packages .grid-3 > * i {
  margin-right: 10px;
}
/* line 22, ../sass/pages/_web-hosting.scss */
#packages .grid-3 > * li {
  margin-bottom: 10px;
  padding-bottom: 5px;
}
/* line 27, ../sass/pages/_web-hosting.scss */
#packages .grid-3 > * h2 {
  font-size: 4rem;
}
/* line 29, ../sass/pages/_web-hosting.scss */
#packages .grid-3 > * h2 span {
  font-size: 1rem;
}
/* line 34, ../sass/pages/_web-hosting.scss */
#packages .grid-3 .standard,
#packages .grid-3 .enterprise {
  position: relative;
}
/* line 37, ../sass/pages/_web-hosting.scss */
#packages .grid-3 .standard h2,
#packages .grid-3 .enterprise h2 {
  color: #fec40a;
}
/* line 41, ../sass/pages/_web-hosting.scss */
#packages .grid-3 .standard h2 span,
#packages .grid-3 .enterprise h2 span {
  color: #2d313d !important;
}
/* line 46, ../sass/pages/_web-hosting.scss */
#packages .grid-3 .standard {
  height: calc(100% - 27%);
}
@media screen and (max-width: 991px) {
  /* line 46, ../sass/pages/_web-hosting.scss */
  #packages .grid-3 .standard {
    height: 100%;
  }
}
/* line 52, ../sass/pages/_web-hosting.scss */
#packages .grid-3 .professional {
  height: calc(100% - 10%);
}
@media screen and (max-width: 991px) {
  /* line 52, ../sass/pages/_web-hosting.scss */
  #packages .grid-3 .professional {
    height: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
