@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* line 2, ../sass/base/_reset.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 8, ../sass/base/_reset.scss */
body {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

/* line 14, ../sass/base/_reset.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 19, ../sass/base/_reset.scss */
li {
  list-style: none;
}

/* line 22, ../sass/base/_reset.scss */
a,
li,
p {
  color: #2d313d;
}

/* line 27, ../sass/base/_reset.scss */
h1,
h3,
h2,
h4,
h5 {
  font-weight: 700;
}

/* line 35, ../sass/base/_reset.scss */
img {
  object-fit: contain;
}

/* line 2, ../sass/base/_utilities.scss */
.gap-sm {
  gap: 14px;
}

/* line 5, ../sass/base/_utilities.scss */
.gap-md {
  gap: 28px;
}

/* line 9, ../sass/base/_utilities.scss */
.mtp-lg {
  margin-top: 12rem;
}

/* line 12, ../sass/base/_utilities.scss */
.mtp-xl {
  margin-top: 17rem;
}

/* line 15, ../sass/base/_utilities.scss */
.mtp-md {
  margin-top: 6rem;
}

/* line 19, ../sass/base/_utilities.scss */
.text_primary {
  color: #004ce4;
}

/* line 22, ../sass/base/_utilities.scss */
.text_secondary {
  color: #004ce4;
}

/* line 26, ../sass/base/_utilities.scss */
.bg_light {
  background: #f7f9fe;
}

/* line 29, ../sass/base/_utilities.scss */
.bg_dark {
  background: #2d313d;
}

/* line 33, ../sass/base/_utilities.scss */
.box-shadow {
  box-shadow: 1px 1px 20px #f7f9fe;
}

/* line 36, ../sass/base/_utilities.scss */
.box-shadow-light {
  box-shadow: 1px 1px 20px #f4f4f4;
}

/* line 40, ../sass/base/_utilities.scss */
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
/* line 44, ../sass/base/_utilities.scss */
.slick-dots button {
  border: none;
  outline: none;
  background: #004ce4;
  color: #004ce4;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  text-indent: -9999px;
}
/* line 55, ../sass/base/_utilities.scss */
.slick-dots .slick-active {
  width: 40px;
  height: 8px;
  background: #004ce4;
  border-radius: 8px;
  margin-right: 5px;
}

/* line 63, ../sass/base/_utilities.scss */
.slick-active {
  opacity: 1 !important;
}

/* line 1, ../sass/components/_buttons.scss */
.b_tn {
  padding: 12px 15px;
  border: none;
  outline: none;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* line 8, ../sass/components/_buttons.scss */
.b_tn-lg {
  padding: 15px;
}

/* line 11, ../sass/components/_buttons.scss */
.b_tn-md {
  padding: 12px;
}

/* line 15, ../sass/components/_buttons.scss */
.b_tn-primary {
  background-color: #004ce4;
}

/* line 18, ../sass/components/_buttons.scss */
.b_tn-secondary {
  background-color: #e52c48;
}

/* line 22, ../sass/components/_buttons.scss */
.b_tn-hover:hover {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(0.95);
}

/* line 2, ../sass/components/_navbar.scss */
header .Navbar {
  transition: all 0.4s ease-in-out;
}
/* line 5, ../sass/components/_navbar.scss */
header .Navbar .navbar-brand {
  z-index: 20;
}
/* line 7, ../sass/components/_navbar.scss */
header .Navbar .navbar-brand .logo {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 1191px) {
  /* line 12, ../sass/components/_navbar.scss */
  header .Navbar .nav-links {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.97;
    width: 100%;
    height: 100vh;
    padding: 5.3rem 0 1.4rem 2rem;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-190px);
    transition: all 0.4s ease-in;
  }
}
/* line 30, ../sass/components/_navbar.scss */
header .Navbar .show-navs {
  transition: all 0.4s ease-in;
  opacity: 1;
  pointer-events: visible;
  transform: translateX(0);
}
/* line 37, ../sass/components/_navbar.scss */
header .Navbar .menu {
  transition: all 0.4s ease-in;
  width: 40px;
  cursor: pointer;
  z-index: 20;
}
/* line 43, ../sass/components/_navbar.scss */
header .Navbar .menu .menu-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2d313d;
  margin-bottom: 5px;
}
/* line 50, ../sass/components/_navbar.scss */
header .Navbar .menu .line-3 {
  margin-bottom: 0;
}
/* line 54, ../sass/components/_navbar.scss */
header .Navbar .open {
  transition: all 0.4s ease-in;
}
/* line 56, ../sass/components/_navbar.scss */
header .Navbar .open .line-1 {
  transform: rotate(45deg);
  transform-origin: left;
}
/* line 61, ../sass/components/_navbar.scss */
header .Navbar .open .line-3 {
  transform: rotate(-50deg);
  transform-origin: center;
}
/* line 66, ../sass/components/_navbar.scss */
header .Navbar .open .line-2 {
  display: none;
}

/* line 72, ../sass/components/_navbar.scss */
.scroll {
  transition: all 0.4s ease-in-out;
  transform: translateY(-2px);
  background: white;
  box-shadow: 1px 1px 10px #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
@media screen and (max-width: 991px) {
  /* line 72, ../sass/components/_navbar.scss */
  .scroll {
    transform: translateY(0) !important;
  }
}

/* line 1, ../sass/components/_form.scss */
input {
  border: none;
  outline: none;
  padding: 8px 15px;
  width: 100%;
  margin-bottom: 12px;
}

/* line 8, ../sass/components/_form.scss */
textarea {
  width: 100%;
  border: none;
  outline: none;
}

@media screen and (max-width: 991px) {
  /* line 2, ../sass/components/_footer.scss */
  #footer .row {
    justify-content: center !important;
    gap: 1.7rem !important;
  }
}
/* line 8, ../sass/components/_footer.scss */
#footer img {
  width: 150px;
  height: 150px;
}
/* line 12, ../sass/components/_footer.scss */
#footer i,
#footer a,
#footer li,
#footer p,
#footer h4 {
  color: white;
}
/* line 19, ../sass/components/_footer.scss */
#footer ul {
  padding: 0;
}
/* line 21, ../sass/components/_footer.scss */
#footer ul li {
  line-height: 2;
}
/* line 23, ../sass/components/_footer.scss */
#footer ul li a:hover {
  color: #004ce4 !important;
}
/* line 29, ../sass/components/_footer.scss */
#footer .social div {
  background: #004ce4;
  padding: 12px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
/* line 37, ../sass/components/_footer.scss */
#footer form {
  background: white;
  padding: 15px;
  border-radius: 8px;
}
/* line 41, ../sass/components/_footer.scss */
#footer form input {
  background: #f7f9fe;
  border-radius: 50rem;
  display: block;
  padding: 12px 15px;
}
/* line 47, ../sass/components/_footer.scss */
#footer form textarea {
  background: #f7f9fe;
  border-radius: 8px;
  padding: 12px;
  height: 100px;
  margin-bottom: 12px;
}
/* line 54, ../sass/components/_footer.scss */
#footer form input[type="submit"] {
  background: #004ce4;
  color: white;
}

/* line 2, ../sass/pages/_index.scss */
header {
  background: url("/assets/images/curve 2.svg");
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
/* line 7, ../sass/pages/_index.scss */
header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-170deg, #e1ecff 0%, transparent 40%);
  z-index: -1;
}
/* line 17, ../sass/pages/_index.scss */
header .hero {
  height: 38rem;
}
/* line 20, ../sass/pages/_index.scss */
header .hero .hero-text h2 {
  font-size: 3.1rem;
  width: 420px;
}
@media screen and (max-width: 991px) {
  /* line 20, ../sass/pages/_index.scss */
  header .hero .hero-text h2 {
    font-size: 2.3rem;
  }
}
/* line 27, ../sass/pages/_index.scss */
header .hero .hero-text p {
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  /* line 36, ../sass/pages/_index.scss */
  #our-past {
    margin-top: 29rem !important;
  }
  /* line 39, ../sass/pages/_index.scss */
  #our-past .row {
    flex-direction: column-reverse !important;
    gap: 3rem;
  }
  /* line 43, ../sass/pages/_index.scss */
  #our-past .row div:nth-child(1) {
    align-self: center;
  }
  /* line 47, ../sass/pages/_index.scss */
  #our-past .b_tn {
    display: block !important;
    margin: auto;
    text-align: center;
  }
}
/* line 53, ../sass/pages/_index.scss */
#our-past img {
  width: 500px;
  height: 450px;
}
@media screen and (max-width: 991px) {
  /* line 53, ../sass/pages/_index.scss */
  #our-past img {
    width: 100%;
  }
}

/* line 63, ../sass/pages/_index.scss */
#who-we-work-with {
  height: 20rem;
}
@media screen and (max-width: 991px) {
  /* line 67, ../sass/pages/_index.scss */
  #who-we-work-with .work-group .row {
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
/* line 74, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group {
  background: white;
  border: 1px solid #f7f9fe;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-right: 12px;
  width: 400px;
}
@media screen and (max-width: 1399px) {
  /* line 74, ../sass/pages/_index.scss */
  #who-we-work-with .work-group .group {
    width: 300px;
  }
}
@media screen and (max-width: 991px) {
  /* line 74, ../sass/pages/_index.scss */
  #who-we-work-with .work-group .group {
    width: 100%;
  }
}
/* line 88, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group h3 {
  font-size: 1.3rem;
}
/* line 91, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group .icon {
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
/* line 100, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-1 .icon {
  background: #7ea6f7;
}
/* line 105, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-2 .icon {
  background: #2d313d;
}
/* line 110, ../sass/pages/_index.scss */
#who-we-work-with .work-group .group-3 .icon {
  background: #f26378;
}

@media screen and (max-width: 1399px) {
  /* line 118, ../sass/pages/_index.scss */
  #client.mtp-xl {
    margin-top: 22rem;
  }
}
@media screen and (max-width: 991px) {
  /* line 123, ../sass/pages/_index.scss */
  #client.mtp-xl {
    margin-top: 45rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 128, ../sass/pages/_index.scss */
  #client.mtp-xl {
    margin-top: 50rem;
  }
}
@media screen and (max-width: 991px) {
  /* line 133, ../sass/pages/_index.scss */
  #client .row {
    gap: 1.5rem !important;
  }
}
/* line 137, ../sass/pages/_index.scss */
#client .row img {
  width: 200px;
  height: 90px;
  filter: grayscale(100%);
}
/* line 142, ../sass/pages/_index.scss */
#client .row img:hover {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  filter: grayscale(0%);
}
@media screen and (max-width: 991px) {
  /* line 147, ../sass/pages/_index.scss */
  #client .row > div {
    align-self: center;
    justify-self: center;
  }
  /* line 152, ../sass/pages/_index.scss */
  #client .row > div img {
    display: block;
    margin: 0 auto;
  }
}

/* line 166, ../sass/pages/_index.scss */
#our-works .tab-content img {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 1199px) {
  /* line 166, ../sass/pages/_index.scss */
  #our-works .tab-content img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}
/* line 179, ../sass/pages/_index.scss */
#our-works .video-explainer a {
  position: relative;
}
/* line 182, ../sass/pages/_index.scss */
#our-works .video-explainer a i {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #004ce4;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 0.6rem;
}
@media screen and (max-width: 1199px) {
  /* line 182, ../sass/pages/_index.scss */
  #our-works .video-explainer a i {
    transform: translate(210px, 120px);
  }
}

/* line 199, ../sass/pages/_index.scss */
#testimonials .testimony {
  background: white;
  border-radius: 8px;
  position: relative;
  width: 370px !important;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  /* line 199, ../sass/pages/_index.scss */
  #testimonials .testimony {
    opacity: 0.5;
  }
}
@media screen and (max-width: 991px) {
  /* line 199, ../sass/pages/_index.scss */
  #testimonials .testimony {
    margin-right: 10px;
  }
}
/* line 212, ../sass/pages/_index.scss */
#testimonials .testimony .photo img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
